//公共变量

//头部高
$headerHeight: 44px; 
//底部tabbar高
$tabbarHeight: 50px; 

//base主题
$baseFontSize: 14px; //默认字体大小
$baseFontColor: #0861EF; //默认颜色
$baseFontFamily: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;



